body {
    padding-bottom: 5vw;
}

/* Normal text -----------------------------------------------------------------------------------------------------------------------------*/

.normalText {
    font-weight: 500;
    font-size: 2vw;
}

#presentation {
    display: block;
    margin: 0vw 0 10vw 38vw;
    width: 50vw;
    height: fit-content;
}

/* Title Text */

.titleText {
    font-size: 4vw;
    font-weight: 700;
    margin: 0 9vw 3vw 9vw;
    padding-bottom: 1vw;
    display: block;
}

/* Experience */

.elementContainer {
    display: flex;
}

.elementDate {
    display: inline-block;
    margin: 0 4vw 2vw 9vw;
    padding: 2vw 0;
    font-weight: 500;
    font-size: 1.5vw;
    border-radius: 2.3vw;
    text-align: center;
    width: 8vw;
}

.elementText {
    display: inline-block;
    font-size: 2vw;
    font-weight: 500;
    padding-top: 0.7vw;
}

.elementSubtitle {
    font-size: 1.4vw;
    font-weight: 400;
}

.elementSubtitle a {
    text-decoration: underline;
}

.elementSubtitle a:hover {
    font-weight: 500;
}

#experience {
    border-bottom: solid 1px #FED9B7;
}

#awards {
    border-bottom: solid 1px #FFC5B3;
    margin-top: 6vw;
}

#education {
    border-bottom: solid 1px #C3EAE4;
    margin-top: 6vw;
}

/* Moving image ----------------------------------------------------------------------------------------------------------------------------------------------*/

#pImageDiv {
    position: absolute;
    width: 25vw;
    height: 25vw;
    top: 40vw;
    left: 8vw;
    -webkit-mask-image: url(../materials/google_shape.svg);
    mask-image: url(../materials/google_shape.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: rotateMask 20s linear infinite;
}

#pImageDiv img {
    position: absolute;
    width: inherit;
    height: inherit;
    animation: inherit;
    animation-direction: reverse;
    transition: opacity .5s;
}


@keyframes rotateMask {
    to {
        transform: rotate(360deg)
    }
}

@media only screen and (max-width: 600px) {

    /* Normal text -----------------------------------------------------------------------------------------------------------------------------*/

    .normalText {
        font-size: 4.5vw;
    }

    #presentation {
        margin: 74vw 0 9vw 5vw;
        width: 90vw;
    }

    /* Title Text */

    .titleText {
        font-size: 8vw;
        margin: 0 9vw 3vw 5vw;
    }

    /* Experience */

    .elementDate {
        margin: 0 4vw 2vw 5vw;
        font-size: 4vw;
        border-radius: 3.5vw;
        width: 16vw;
        height: 5vw;
    }

    .elementText {
        font-size: 4.5vw;
        padding-top: 0.3vw;
        width: 70vw;
        margin-bottom: 5vw;
    }

    .elementSubtitle {
        font-size: 3.5vw;
    }

    #education {
        margin-top: 5vw;
    }

    /* Moving image ----------------------------------------------------------------------------------------------------------------------------------------------*/

    #pImageDiv {
        width: 60vw;
        height: 60vw;
        top: 48.5vw;
        left: 20vw;
        animation: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {

    /* Normal text -----------------------------------------------------------------------------------------------------------------------------*/

    .normalText {
        font-size: 2.3vw;
    }

    #presentation {
        margin: 0vw 0 9vw 40vw;
    }

    /* Title Text */

    .titleText {
        font-size: 5vw;
        margin: 0 9vw 3vw 5vw;
    }

    /* Experience */

    .elementDate {
        margin: 0 4vw 2vw 5vw;
        font-size: 1.8vw;
        border-radius: 2.4vw;
        width: 10vw;
    }

    .elementText {
        font-size: 2.3vw;
        padding-top: 0.3vw;
    }

    .elementSubtitle {
        font-size: 1.8vw;
    }

    #education {
        margin-top: 5vw;
    }

    /* Moving image ----------------------------------------------------------------------------------------------------------------------------------------------*/

    #pImageDiv {
        width: 29vw;
        height: 29vw;
        top: 41.5vw;
        left: 5vw;
        animation: rotateMask 20s linear infinite;
    }
}

@media only screen and (max-width: 1200px) {
    #pImageDiv {
        animation: none;
    }
}

@media only screen and (orientation: portrait) {
    #pImageDiv {
        animation: none;
    }
}