/* Contacts ---------------------------------------------------------------------------------------------------------------------------------------------- */
#contactsContainer {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 10vw;
}

.contactsObject {
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-size: 5vw;
    background-position: center;
    padding: 2vw;
    border-radius: 30%;
}

.contactsObject:hover {
    cursor: pointer;
}

#instagram {
    background-image: url(../materials/instagram.png);
}

#linkedin {
    background-image: url(../materials/linkedin.png);
}

#mail {
    background-image: url(../materials/mail.png);
}

@media only screen and (max-width: 600px) {
    #contactsContainer {
        gap: 7vw;
        margin-bottom: 10vw;
    }
    .contactsObject {
        width: 11vw;
        height: 11vw;
        background-size: 11vw;
        padding: 4vw;
    }

}

@media only screen and (min-width:600px) and (max-width: 992px) {

    #contactsContainer {
        gap: 6vw;
        margin-bottom: 10vw;
    }
    .contactsObject {
        width: 8vw;
        height: 8vw;
        background-size: 8vw;
        padding: 4vw;
    }

}